body {
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(39, 39, 39);
  padding:0;
  margin:0;
}

body.loggedIn .logged-out{
  display:none;
}
body.loggedIn #logoutButton {
  display: initial;
}
#logoutButton {
  display:none;
}
.header{
  position:fixed;
  top:0;
  right:0;
  left:0;
  border-bottom:1px solid rgb(209, 209, 209);
  background:white;
  display: inline-flex;
  justify-content: space-between;
  padding:0 10px;
  z-index: 10;
}
.header .logo {
  margin-right: auto;
}
.header ul {
  height: 5vh;
  padding:0;
  display: inline-flex;
  margin-left: auto;
  list-style: none;
}
.header ul li {
  margin:auto 5px;
}
.header a {
  text-decoration: none;
  color: black;
}
.header li a {
  color: black;
}
.wrapper {
  text-align: center;
  padding-top:7vh;
  width:100%;
}

.content {
  width:100%;
}

.hero {
  min-height:82vh;
  max-width: 100%;
  background: rgb(243, 243, 243);
  padding:1em;
  filter: blur(5px);
    background-size:  90%  ; 
    filter: brightness(0.70);
  transition: .2s all ease-in-out;
}
.hero:hover {
  filter: blur(0px);
    background-size:cover; 
    filter: brightness(1);
}
.hero .vertical-content {
  position: absolute;
  top:25%;
  bottom:25%;
  left:0;
  right:0;
  margin:auto auto;
  max-width: 50vh;
}
.hero .vertical-content * {filter:drop-shadow(0 1px 1px orange);
  text-shadow: -.05em -.05em rgb(59, 166, 247);
}
.hero .vertical-content hr {
  border-width: .5px;
}
#main-hero {
  color:white;
  background: rgb(36, 36, 36);
  background-image: url('https://i.pinimg.com/originals/d0/86/42/d0864223e34add22df0e118f8bd6c74a.jpg');
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
}

.nav-links {
  display: inline-flex;
  justify-content: space-between;
  
  position: absolute;
    top: 75%;
    left: 0;
    right:0;
    max-width: 25%;
    margin: auto auto;
}
.nav-links > a {
  line-height: 7vh;
  min-width: 30%;
  margin:auto;
  padding:5px;
  color:white;
  border:2px solid white;
  border-radius: 20%;
  text-decoration: none;

  transition:.3s all ease-in-out;
}
.nav-links > a:hover {
  padding:5px 8.5px;
  border-radius:30.5%;
}

.formWrapper {
  text-align: left;
  max-width:75%;
  margin:auto;
}
.inputLabel {
  color: firebrick;
}
.footer {
  position:fixed;
  bottom:0;
  left:0;
  right: 0;
  background: rgb(37, 37, 37);
  color: white;
}
.footer > * {
  line-height: 7vh;
  margin:auto auto;
}


