body {
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(39, 39, 39);
  padding:0;
  margin:0;
}

body.loggedIn #logoutButton {
  display: block;
}
body.loggedIn .loggedOut {
  display: none;
}

#logoutButton {
  display:none;
}

.wrapper {
  text-align: center;
  padding-top:44px;
  width:100%;
}

.content {
  width:100%;
}

.header{
  position:fixed;
  top:0;
  right:0;
  left:0;
  border-bottom:1px solid rgb(209, 209, 209);
  background:white;
  padding:0;
  z-index: 10;
}
.menu {
  width:95%;
  padding:0;
  height: 44px;
  display: inline-flex;
  justify-content: space-between;
  margin: auto;
  list-style: none;
}
.menu a {
  margin:auto 5px;
  text-decoration: none;
  line-height: 44px;
  color: black;
  transition: .2s all ease-in-out;
}
.header li a:hover {
  color:grey;
}

.menu_nav {
  z-index: 5;
  background:black;
  color:white;
  text-align: center;
  width:100%;
  height:0;
  overflow: hidden;
  position:fixed;
  transition: .5s all ease-in-out;
}

.menu_nav ul {
  padding:0 0;
  margin:10px 44px;
  perspective: 250px;
}
.menu_nav li {
  text-align: left;
  list-style: none;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: translate3d(0,0,100px);
  opacity:0;
  border-bottom:.5px solid rgb(190, 190, 190);
  line-height: 44px;
  transition: .5s all ease-in-out;
}
.menu_nav #searchInput {
  width:100%;
}
.menu_nav li.active {
  transform: translate3d(0,0,0);
  opacity: 1;
}
.menu_nav a {
  text-decoration: none;
  color:white;
  transition:.5s all ease-in-out;
}
.menu_nav a:hover {
  color: grey;
}
.menu_nav input {
  color: white;
  background: black;
  border: none;
  height:44px;
  font-size:1.2em;
  font-style:'Arial';
}
.menu_nav.active{
  height:100%;
}
#nav-icon {
  margin-left:auto;
  width: 44px;
  height: 44px;
  display:block;
}
#nav-icon span {
  display: block;
  margin:auto auto;
  width:18px;
  color: black;
  background-color: black;
  height:1px;
  transition: .5s ease-in-out;
}
#nav-icon span:nth-child(1){
  position: absolute;
  top:19px;
}
#nav-icon span:nth-child(2){
  position: absolute;
  top:26px;
}

#nav-icon.active span:nth-child(1){
  top:22px;
  transform: rotate(-135deg);
}
#nav-icon.active span:nth-child(2){
  top:22px;
  transform: rotate(135deg);
}


.hero {
  min-height:82vh;
  max-width: 100%;
  background: rgb(243, 243, 243);
  padding:1em;
  filter: blur(5px);
    background-size:  90%  ; 
    filter: brightness(0.85);
  transition: .2s all ease-in-out;
}
.hero:hover {
  filter: blur(0px);
    background-size:cover; 
    filter: brightness(1);
}
.hero .vertical-content {
  position: absolute;
  top:25%;
  bottom:25%;
  left:0;
  right:0;
  margin:auto auto;
  max-width: 50vh;
}
.hero .vertical-content * {filter:drop-shadow(0 1px 1px orange);
  text-shadow: -.05em -.05em rgb(59, 166, 247);
}
.hero .vertical-content hr {
  border-width: .5px;
}
#main-hero {
  color:white;
  background: rgb(36, 36, 36);
  background-image: url('https://i.pinimg.com/originals/d0/86/42/d0864223e34add22df0e118f8bd6c74a.jpg');
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
}

.nav-links {
  display: inline-flex;
  justify-content: space-between;
  
  position: absolute;
    top: 75%;
    left: 0;
    right:0;
    max-width: 50%;
    margin: auto auto;
}
.nav-links > a {
  line-height: 7vh;
  min-width: 30%;
  margin:auto;
  padding:5px;
  color:white;
  border:2px solid white;
  border-radius: 10px;
  text-decoration: none;

  transition:.3s all ease-in-out;
}
.nav-links > a:hover {
  padding:5px 8.5px;
  border-radius:11px;
}

.formWrapper {
  text-align: left;
  max-width:75%;
  margin:auto;
}
.formError {
  color: firebrick;
}
.inputLabel {
  color: firebrick;
}
.footer {
  position:fixed;
  bottom:0;
  left:0;
  right: 0;
  background: rgb(37, 37, 37);
  color: white;
}
.footer > * {
  line-height: 7vh;
  margin:auto auto;
}


