<h1 style="color: firebrick; display: inline;">404 </h1><h4 style="display: inline;"> error</h4>
<div style="display: inline-flex;">
  <div style="max-width: 45%;">
    <img style="width: 100%;" src="https://img.maximummedia.ie/joe_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDEyXFxcLzA3XFxcL3N0b3J5XzI2OTEwXzI2OTEwLXhsYXJnZS5qcGdcIixcIndpZHRoXCI6NzY3LFwiaGVpZ2h0XCI6NDMxLFwiZGVmYXVsdFwiOlwiaHR0cHM6XFxcL1xcXC93d3cuam9lLmllXFxcL2Fzc2V0c1xcXC9pbWFnZXNcXFwvam9lXFxcL25vLWltYWdlLnBuZz92PTVcIn0iLCJoYXNoIjoiMjdhZjhhZDNmYjNkYjNmODJlMjdiZmY3NjE2MTdhZWY0ZmIwOGY2NSJ9/story-26910-26910-xlarge.jpg" alt="">

  </div>
  <div style="margin: auto auto;">
      <h3>The route you requested does not exist. How sad.</h3>
      <h4>Try going back <a href="home">home</a>.</h4>
  </div>
</div>
