<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="{global.baseUrl}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{head.title} | {global.title}</title>

  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="stylesheet.css">
  <script> src="public/app.js"</script>
</head>
<body class={body.class}>
  <!--Opens up the body-->
  
<div class="wrapper">


  <div class="header">
    <a href="/" class="logo"></a>
    <ul class="menu">
      <li><a href="/about"></a></li>
      <li class="logged-in"><a href="/account/create"></a></li>
      <li class="logged-out"><a href="/account/terminate"></a></li>
      <li><a href="/"></a></li>
    </ul>
  </div>


  <div class="content">